.ScrollDown{
    text-align: right;

}
.Down{
    text-align: right;
    display: inline-block;
    /* padding-right: 10vw; */
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border: 2px solid black;
    border-radius: 25%;
    margin-top: 0vh;
    font-size: 1.5em;
}
.Down:hover{
    cursor: pointer;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition-duration: 1s;
}